<!DOCTYPE html>

<!--
	This file is rendered by express.js, when the rurl /chat/123456 is visited in a browser.
	It includes jQuery, socket.io.js (it is automatically served by the socket.io library), 
	and a few more JavaScript files that you should check out.
-->

<html>

<head>

	<title>Anonymous Squirrel</title>

	<link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>
	<a href="/">
		<header class="homebanner">
			<h1 class="homebannertext">
				Anonymous Squirrel
			</h1>
		</header>
	</a>


	<section class="section" style="margin-top:30px">

		<!-- These elements are displayed as white info cards in the middle of the screen -->

		<div class="waiting">

			<img src="../img/unnamed.png" id="creatorImage" />

			<div class="infoWaiting">
				<h2>Searching for a match...</h2>
				<script>
				/*setTimeout(function(){ 
					window.location = '/create';
				}, 3000);*/
				</script>
				<br/>

			</div>

		</div>

	</section>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="../js/moment.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket2 = io.connect('/socket');

		socket2.on('connect', function(){
			socket2.emit('load', {waitID: 1, id: localStorage.getItem('facebookID'),
				friendList: localStorage.getItem('fbFriendList')});
		});

		socket2.on('testing', function(data){
			console.log(data.num);
			console.log("hello how are you?");
		});

		socket2.on("matchFound", function(data){
			window.location = "/chat/"+data.room;
		});
	</script>

</body>

</html>